{% extends "layout.html" %}

{% block body %}

    <h1>Registrants</h1>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>sport</th>
            </tr>
        </thead>
        <tbody>
            {% for registrant in registrants %}
                <tr>
                    <td>{{ registrant.id }}</td>
                    <td>{{ registrant["name"] }}</td>
                    <td>{{ registrant["sport"] }}</td>
                    <td>
                        <form action="/deregister" method="post">
                            <input name="id" type="hidden" value="{{ registrant['id'] }}">
                            <input type="submit" value="Deregister">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}